/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.footer_grid {
  grid-template-columns: repeat(2, 1fr);
}
.shopProductContent h4 {
	font-size: 14px;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.header-search {
	margin-top: 10px;
}
.slider_grid {
  gap: 0px;
}
.product_footer {
	display: block !important;
}.quantity {
	justify-content: center;
}
.product_footer .btn {
	transition: var(--transition);
	width: 100%;
	margin-top: 10px;
}
.product_title {
	padding: 5px;
}
.btn {
	padding: 10px 20px;
}
.view_all {
	background: transparent;
	color: #000;
	border-bottom: 1px solid #000;
	font-size: 15px;
}
  .benifit_grid{
        grid-template-columns: repeat(3, 1fr);
    }
	.footer_grid {
  grid-template-columns: repeat(2, 1fr);
}
.footer_social_payment {
	gap: 20px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.header-search {
	margin-top: 10px;
}
.slider_grid {
  gap: 0px;
}
.product_footer {
	display: block !important;
}
 .quantity {
	justify-content: center;
}
.product_footer .btn {
	transition: var(--transition);
	width: 100%;
	margin-top: 10px;
}
.product_title {
	padding: 5px;
    font-size:14px
}
.btn {
	padding: 10px 20px;
}
.view_all {
	background: transparent;
	color: #000;
	border-bottom: 1px solid #000;
	font-size: 15px;
}
 .benifit_grid{
        grid-template-columns: repeat(2, 1fr);
    }
	.banner_grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.footer_grid {
  grid-template-columns: repeat(1, 1fr);
}
.footer-social {
	justify-content: center;
}
.footer_social_payment {
	gap: 20px;
}
.shopProduct {
	padding: 10px !important;
}
.shopProductContent h4 {
	font-size: 14px;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}