/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {
  .category-list {
    height: 370px;
  }
  .cart-table .table tbody tr td h6 {
    width: 340px !important;
  }
  /* .slider-for iframe {
    height: 440px !important;
  } */
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .category-list {
    overflow: hidden;
    height: 290px;
  }
  .benifit_grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .shopProductContent h4 {
    font-size: 14px;
  }
  .footer_widget {
    margin-bottom: 20px;
  }
  .footer_widget h5 {
    margin-bottom: 10px;
  }

  #displayContainer .product_footer {
    display: block !important;
    text-align: center;
  }
  #displayContainer .product_footer .quantity {
    margin-bottom: 10px;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #displayContainer .product_footer .btn {
    width: 100%;
  }
  .cart-table .table tbody tr td h6 {
    width: 220px !important;
  }
  .single_product .product_price {
    justify-content: center !important;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-search {
    margin-top: 10px;
  }
  .slider_grid {
    gap: 0px;
  }
  .product_footer {
    display: block !important;
  }
  .quantity {
    justify-content: center;
  }
  .product_footer .btn {
    transition: var(--transition);
    width: 100%;
    margin-top: 10px;
  }
  .product_title {
    padding: 5px;
  }
  .btn {
    padding: 10px 20px;
  }
  .view_all {
    background: transparent;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 15px;
  }
  .benifit_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_social_payment {
    gap: 20px;
  }
  .footer_widget {
    margin-bottom: 20px;
  }
  .footer_widget h5 {
    margin-bottom: 10px;
  }

  .footer-area {
    padding-bottom: 110px;
  }

  .social-menu {
    bottom: 150px;
  }
  #scrollUp {
    bottom: 100px;
    right: 30px;
  }
  .quantity {
    border: transparent;
  }
  .offcanvas {
    width: 300px !important;
  }
  .cart-table .table tbody tr td h6 {
    width: 300px !important;
  }

  .single_product .product_price {
    justify-content: center !important;
    margin-bottom: 10px;
  }
  .product_scroll_info .product_name {
    display: none !important;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .header-search {
    margin-top: 10px;
  }
  .benifit_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .slider_grid {
    gap: 0px;
  }
  .product_footer {
    display: block !important;
    margin: 0;
  }
  .quantity {
    justify-content: center;
  }
  .product_footer .btn {
    transition: var(--transition);
    width: 100%;
    margin-top: 10px;
    border-radius: 0 0 5px 5px;
  }
  .product_title {
    padding: 5px;
    font-size: 14px;
    height: 45px;
  }
  .btn {
    padding: 10px 20px;
  }
  .view_all {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
  }
  .benifit_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .footer_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-social {
    justify-content: center;
  }
  .footer_social_payment {
    gap: 20px;
  }
  .shopProduct {
    padding: 10px !important;
  }
  .shopProductContent h4 {
    font-size: 14px;
  }

  .single-benifit img {
    width: 24px !important;
  }
  .single-benifit span {
    font-size: 13px;
  }
  .campaign_slider .owl-nav {
    display: none;
  }

  .footer_widget {
    margin-bottom: 20px;
  }
  .footer_widget h5 {
    margin-bottom: 10px;
  }
  .ingredients_tabs li .nav-link {
    font-size: 15px;
    padding: 10px;
  }

  .social-menu {
    bottom: 150px;
  }
  #scrollUp {
    right: 30px;
    bottom: 100px;
  }

  .mobile_navbar .logo img {
    width: 90%;
  }
  .mobile_navbar .logo {
    text-align: center;
  }
  .header-area .container {
    padding: 0;
    overflow: hidden;
  }
  .quantity {
    border: transparent;
  }
  .campaign_slider .owl-nav .owl-prev,
  .campaign_slider .owl-nav .owl-next {
    width: 30px;
    height: 35px;
    border-radius: 5px !important;
  }
  .adds .container {
    padding: 0;
  }
  .section-space {
    padding: 20px 0;
  }
  .ingredients_tabs.concernProduct {
    justify-content: center;
  }
  .ingredients_tabs li .nav-link {
    font-size: 12px;
    padding: 6px;
  }
  .offcanvas {
    width: 300px !important;
  }
  .combos-area .moreButton .btn,
  .concern-area .moreButton .btn {
    margin-top: 5px !important;
  }
  .ingredient_content_body {
    padding: 10px;
  }
  .header-area {
    display: none;
  }
  .login-container {
    margin-top: 0 !important;
  }
  .layout-icons {
    display: none;
  }

  .single_product .product_price {
    justify-content: center !important;
    margin-bottom: 10px;
  }
  .product-content-area .single_product {
    padding: 10px 0;
  }

  .product__content .nav-link {
    padding: 8px;
    font-size: 16px;
  }
  .product_scroll_info .product_name {
    display: none !important;
  }

  #toggleBtn img {
    display: none;
  }
  .toggle-btn i {
    left: 0;
  }
  nav.shop-breadcrumb,
  nav.shop-breadcrumb a {
    padding: 5px;
  }
  .page-main-title {
    font-size: 22px;
  }
  .copyright {
    margin-bottom: 40px;
  }
  .footer-social ul li a i {
    width: 40px;
    height: 40px;
    line-height: 24px;
  }
  .footer-area {
    clip-path: inherit !important;
  }
  .newsletter {
    padding-top: 30px;
  }
  .cart-amount {
    padding: 0 !important;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
