/* 1. Theme default css */
@import @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --- :root variables --- */
:root {
  --main-color: #472786;
  --secondary-color: #EB4B98;

/* Typography */
--font: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
--base-font-size: 14px;
--line-height: 1.6;
--transition:all 0.3s ease-in-out;

--box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
*{
  font-family: var(--font);
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
font-family: var(--font);
font-weight: 400;
font-style: normal;
font-size: var(--base-font-size);
line-height: var(--line-height);
color: #000;
}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
font-family: var(--font);
color: #000;
}

.img {
max-width: 100%;
transition: var(--transition)
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto", sans-serif;
font-weight: normal;
color: #313131;
margin:0;
padding:0;
font-style: normal;
font-weight: 400;
text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: inherit;
}

li {
list-style: none
}
a{
text-decoration:none
}
p {
font-size: 14px;
font-weight: normal;
line-height: 24px;
color: #7e7e7e;
margin-bottom: 15px;
}

*::-moz-selection {
background: #d6b161;
color: #fff;
text-shadow: none;
}

::-moz-selection {
background: #444;
color: #fff;
text-shadow: none;
}

::selection {
background: #444;
color: #fff;
text-shadow: none;
}

*::-moz-placeholder {
color: #555555;
font-size: 14px;
opacity: 1;
}

*::placeholder {
color: #555555;
font-size: 14px;
opacity: 1;
}

/* button style */

.btn {
-moz-user-select: none;
background: var(--main-color);
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 13px;
font-weight: 600;
letter-spacing: 1px;
line-height: 1;
margin-bottom: 0;
padding: 13px 25px;
text-align: center;
text-transform: uppercase;
touch-action: manipulation;
transition: var(--transition)
vertical-align: middle;
white-space: nowrap;
}
ul{
margin:0;
padding:0
}
/* header */
.header-area{
background:var(--secondary-color);
}
.login_btn {
background: #FFB811;
padding: 10px 20px;
}

.login_btn:hover {
background: var(--main-color) !important;
}
.header-left span:hover, .header-left span:hover a {
color: var(--main-color) !important;
}

.header-left span, .header-left span a {
transition: var(--transition)
}
.header-right a i {
border: 1px solid var(--main-color);
padding: 8px;
border-radius: 50%;
transition: var(--transition)
font-size: 12px;
}

.header-right a i:hover {
background: var(--main-color);
transform: scale(1.1);
}


/* navbar */
.header_bottom {
background: var(--main-color);
}

.track_btn {
border: 1px solid transparent;
transition: var(--transition);
background: #EB4B98B8;
}
.track_btn:hover {
border: 1px solid white;
color:white
}

.header_navbar {
background: #FFF0F7;
}
.all_category {
	padding: 10px 5px;
	border-radius: 5px;
	transition: var(--transition);
	cursor: pointer;
	background: #FFB30094;
	width: 200px;
}
.all_category i {
	font-size: 18px;
}
.all_category h5 {
font-size: 16px;
}

.header_cart {
	display: flex;
	color: #7C7C7C;
	cursor: pointer;
	align-items: center;
	justify-content: end;
}

.header_search_cart_count span i {
	font-size: 12px;
	margin-left: 5px;
}
.header_search_cart_count span {
	line-height: 1;
	color: #fff;
    display: flex;
}

.header_cart i {
  font-size: 20px;
}
.cart_plus.header_cart_plus {
	padding-right: 5px;
	margin-right: 5px;
}
.cart_plus {
  border-right: 1px solid #7C7C7C;
  padding-right: 10px;
  margin-right: 10px;
}

.header_cart_count {
  display: block;
}
.header_cart_count span {
  display: block;
}
.header_cart_count span:first-child {
  color: #472786;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.header_cart_count span:first-child i {
  font-size: 16px;
}
.header_manu_item li a {
color: #868686;
transition: var(--transition);
text-transform: uppercase;
font-weight: normal;
}
.header_manu_item li a:hover {
color: var(--main-color);
font-weight: bold;
}


.category_sidebar {
	border: 1px solid #00000029;
	border-radius: 5px 5px 0;
	position: relative;
}

.category_sidebar ul li {
border-bottom: 1px solid #00000029;
}
.category_sidebar ul li:last-child {
border: 0;
}
.category_sidebar ul li a {
	display: flex;
	padding: 8px 10px;
	color: #202020;
	align-items: center;
	gap: 5px;
	transition: var(--transition);
	line-height: 1.7;
}
.category_sidebar ul li a:hover {
background: #fff0f7;
}
.category-list li {
transition:var(--transition);
}
.category-list {
	overflow: hidden;
	height: 450px;
}
.subcategory {
position: absolute;
left: 100%;
top: 0;
transition:var(--transition);
z-index:999;
opacity:0;
display:none;
background: #fff;
width: 100%;
}
.category_sidebar ul li:hover > .subcategory{
opacity:1;
display:block
}
.childcategory {
position: absolute;
left: 100%;
top: 0;
opacity: 0;
transition: var(--transition);
background: #fff;
width: 100%;
}

.category_sidebar ul li:hover > .childcategory{
opacity:1
}

.slider_grid {
display: grid;
gap: 10px;
grid-template-columns: minmax(200px, auto) 1fr;
}

.banner_slider .item img {
width: 100%;
display: block;
}
.banner_slider {
overflow: hidden;
}
.offcanvas-header {
	justify-content: space-between;
}
/* product */
.product_footer {
	margin: 25px;
	margin-top: 10px;
	gap: 15px;
}
.view_all {
  transition: var(--transition);
}
.view_all:hover {
  border: 1px solid var(--main-color);
}
.single_product {
	position: relative;
	border-radius: 5px;
	transition: var(--transition);
	background: #F7F7F7;
	border: 1px solid #ddd;
}
.product_image {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
}
.old-price {
  color: #999;                 
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 500;
}

.old-price i {
  font-size: 14px;
  margin-right: 2px;
}

.product_image img {
  transition: all .5s ease-in-out;
}
.single_product:hover img {
  transform: scale(1.05);
}
.product_image span {
	position: absolute;
	left: 10px;
	z-index: 99;
	background: #EB4B98;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 10px 0;
	top: 10px;
}

.product_title {
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	line-height: 1.3;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: all .5s ease-in-out;
	height: 65px;
	font-weight: 600;
}
.product_title:hover {
	color: #333333a6;
}
.product_ratting {
	display: flex;
	justify-content: center;
}
.product_ratting i {
color: #FFB811;
font-size:12px
}
.product_price {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 8px;
}
.product_price span:first-child {
color: var(--main-color);
font-size: 16px;
font-weight: 600;
}


// product increment/decrement

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus, .quantity__plus {
	display: block;
	width: 25px;
	height: 35px;
	margin: 0;
	background: #dee0ee;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: var(--main-color);
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 2px solid #dee0ee;
	border-bottom: 2px solid #dee0ee;
	border-left: 1px solid #dee0ee;
	border-right: 2px solid #dee0ee;
	background: #fff;
	color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}
.product_footer .btn {
	transition: var(--transition);
	padding: 10px;
}
.product_footer .btn:hover {
  background: transparent;
  border: 1px solid var(--main-color);
}

/* benifit */
.benifit_grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}
.single-benifit {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 1px solid #4727860F;
	padding: 10px;
	border-radius: 5px;
}
.single-benifit span {
  font-size: 16px;
  color: var(--main-color);
}

/* campaign */
.campaign-area{
  background-image: url(../images/section-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
}
.campaign_slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  left: -20px;
}
.campaign_slider {
  position: relative;
}
.campaign_slider .owl-nav .owl-prev, .campaign_slider .owl-nav .owl-next {
  background: var(--main-color) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.campaign_slider .owl-nav .owl-prev i, .campaign_slider .owl-nav .owl-next i {
  color: #fff;
  padding: 10px;
}
.campaign_slider .owl-nav .owl-next {
  position: absolute;
  left: 100%;
}
.campaign_slider .own-nav {
}

/* offer banner */
.banner_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.banner_grid img {
	border-radius: 10px;
}

/* category */
.category_bg {
	background: #F2F0F7;
	width: 115px;
	height: 115px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
 .category_slider .category_img {
	display: flex;
	justify-content: center;
}
.category_slider .category_img img {
  width: 65px;
  height: 65px;
  transition:var(--transition);
} 
.category_slider .category_img:hover img{
	transform:scale(1.1)
}
.category_slider span {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #373737;
	margin-top: 10px;
}.category_slider a {
	display: flex !important;
	flex-direction: column;
	align-items: center;
}

/* recommand  */
.single_recommad_product img {
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
.single_recommad_product img:hover {
  transform: scale(1.02);
}

/* ingredints */
.ingredients_tabs{
  box-shadow: var(--box-shadow);
  padding:10px;
  gap:10px
}

.ingredients_tabs li .nav-link {
  background: transparent;
  font-weight: 500;
  color: #000 !important;
  cursor: pointer;
}
.ingredients_tabs li .nav-link.active {
  background: #FFDEEE;
  color: var(--main-color) !important;
}
.ingredient_content_body {
 box-shadow: var(--box-shadow);
 padding: 20px;
 border-radius: 10px;
}
.ingredient_content a{
  transition: all .5s ease-in-out;
}
.ingredient_content a:hover {
  border: 1px solid #000;
}

.ingredient_content p {
  font-size: 16px;
}
.ingredient_content {
  padding-top: 10px;
}
/* shop by look */

.shopByLook{
  position: relative;
  display: block;
}

.shopByLook .look-img{
  width: 100%;
  display: block;
}
.shopProduct {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  height: 100%;
}
.shopSingleProduct {
  display: flex;
  gap: 10px;
  padding: 10px;
  transition: all .5s ease-in-out;
}
.shopSingleProduct:hover {
  background: #FFDEEE;
  cursor: pointer;
  border-radius: 10px;
}
.shopByProduct button {
  margin-top: 20px;
}
.shopProduct button {
  margin-top: 10px;
  transition: all .5s ease-in-out;
}
.shopProduct button:hover {
  border: 1px solid var(--main-color);
}
.shopProductContent span {
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
}
.shopProductContent h4 {
	font-size: 18px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	box-orient: vertical;
}
/* footer */

footer {
  background: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newsletter-form button:hover{
	border:1px solid var(--main-color)
}

.newsletter h3 {
  font-size: 32px;
  font-weight: 500;
}
.newsletter p {
  font-size: 17px;
  color: #5C5F66;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.footer_widget h5 {
  margin-bottom: 15px;
  color: var(--main-color);
  font-weight: 500;
}

.footer_contact_single {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 10px;
}
.footer_contact_single i {
  border: 1px solid var(--main-color);
  padding: 8px;
  border-radius: 100%;
  background: var(--main-color);
  color: #fff;
}
.footer_menu li a {
  color: #3A3A3A;
  font-weight: 500;
  transition: all .5s ease-in-out;
}
.footer_menu li a:hover {
	margin-left: 10px;
	color: var(--main-color);
}

.footer-social ul li a i {
  background: var(--main-color);
  color: #fff;
  padding: 8px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.footer-logo img {
  background: var(--main-color);
  padding: 10px;
  border-radius: 10px;
}
.footer-social {
	display: flex;
	justify-content: end;
}
.copyright {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-top: 30px;
}