/* 1. Theme default css */
@import
url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --- :root variables --- */
:root{
/* Colors */
--main-color: #472786;
--secondary-color: #EB4B98;


/* Typography */
--font-sans: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
--font-display: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
--base-font-size: 14px;
--line-height: 1.6;
--transition:transform 0.3s ease-in-out;;
}

body {
font-family: var(--font-sans);
font-weight: 400;
font-style: normal;
font-size: var(--base-font-size);
line-height: var(--line-height);
color: #000;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-display);
margin-top: 0;
color: #000;
}


.img {
max-width: 100%;
transition: var(--transition)
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto", sans-serif;
font-weight: normal;
color: #313131;
margin:0;
padding:0;
font-style: normal;
font-weight: 400;
text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: inherit;
}

li {
list-style: none
}
a{
text-decoration:none
}
p {
font-size: 14px;
font-weight: normal;
line-height: 24px;
color: #7e7e7e;
margin-bottom: 15px;
}

*::-moz-selection {
background: #d6b161;
color: #fff;
text-shadow: none;
}

::-moz-selection {
background: #444;
color: #fff;
text-shadow: none;
}

::selection {
background: #444;
color: #fff;
text-shadow: none;
}

*::-moz-placeholder {
color: #555555;
font-size: 14px;
opacity: 1;
}

*::placeholder {
color: #555555;
font-size: 14px;
opacity: 1;
}

/* button style */

.btn {
-moz-user-select: none;
background: var(--main-color);
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 13px;
font-weight: 600;
letter-spacing: 1px;
line-height: 1;
margin-bottom: 0;
padding: 13px 25px;
text-align: center;
text-transform: uppercase;
touch-action: manipulation;
transition: var(--transition)
vertical-align: middle;
white-space: nowrap;
}
ul{
margin:0;
padding:0
}
/* header */
.header-area{
background:var(--secondary-color);
}
.login_btn {
background: #FFB811;
padding: 10px 20px;
}

.login_btn:hover {
background: var(--main-color) !important;
}
.header-left span:hover, .header-left span:hover a {
color: var(--main-color) !important;
}

.header-left span, .header-left span a {
transition: var(--transition)
}
.header-right a i {
border: 1px solid var(--main-color);
padding: 8px;
border-radius: 50%;
transition: var(--transition)
font-size: 12px;
}

.header-right a i:hover {
background: var(--main-color);
transform: scale(1.1);
}


/* navbar */
.header_bottom {
background: var(--main-color);
}

.track_btn {
border: 1px solid transparent;
transition: var(--transition);
background: #EB4B98B8;
}
.track_btn:hover {
border: 1px solid white;
color:white
}

.header_navbar {
background: #FFF0F7;
}
.all_category {
	padding: 10px 5px;
	border-radius: 5px;
	transition: var(--transition);
	cursor: pointer;
	background: #FFB30094;
	width: 200px;
}
.all_category i {
	font-size: 18px;
}
.all_category h5 {
font-size: 16px;
}

.header_cart {
border: 0;
background: var(--main-color);
color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
position: relative;
}
.header_cart i {
text-align: center;
}
.header_cart span {
position: absolute;
background: red;
top: 0;
width: 20px;
border-radius: 50%;
}

.header_manu_item li a {
color: #868686;
transition: var(--transition);
text-transform: uppercase;
font-weight: normal;
}
.header_manu_item li a:hover {
color: var(--main-color);
font-weight: bold;
}


.category_sidebar {
border: 1px solid #00000029;
border-radius: 5px;
position:relative
}
.category_sidebar ul li {
border-bottom: 1px solid #00000029;
}
.category_sidebar ul li:last-child {
border: 0;
}
.category_sidebar ul li a {
display: flex;
padding: 10px;
color: #202020;
align-items: center;
gap: 5px;
transition: var(--transition);
}
.category_sidebar ul li a:hover {
background: #fff0f7;
}
.category-list li {
margin-bottom: 5px;
transition:var(--transition);
}
.subcategory {
position: absolute;
left: 100%;
top: 0;
opacity:0;
display:none;
transition:var(--transition);
z-index:999;
background: #fff;
width: 100%;
}
.category_sidebar ul li:hover > .subcategory{
opacity:1;
display:block
}
.childcategory {
position: absolute;
left: 100%;
top: 0;
opacity: 0;
transition: var(--transition);
background: #fff;
width: 100%;
}

.category_sidebar ul li:hover > .childcategory{
opacity:1
}

.slider_grid {
display: grid;
gap: 10px;
grid-template-columns: minmax(200px, auto) 1fr;
}

.banner_slider .item img {
width: 100%;
display: block;
}
.banner_slider {
overflow: hidden;
}

/* product */


.view_all {
  transition: var(--transition);
}
.view_all:hover {
  border: 1px solid var(--main-color);
}
.single_product {
	position: relative;
	border-radius: 5px;
	transition: var(--transition);
	background: #F7F7F7;
	border: 1px solid #ddd;
}
.product_image {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 10px;
}
.product_image span {
	position: absolute;
	left: 10px;
	z-index: 99;
	background: #EB4B98;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 10px 0;
	top: 10px;
}

.product_title {
	font-size: 16px;
	font-weight: normal;
	color: #626262;
	text-align: center;
	/* display: inline-block; */
	line-height: 1.3;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product_ratting {
	display: flex;
	justify-content: center;
}
.product_ratting i {
color: #FFB811;
font-size:12px
}
.product_price {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 8px;
}
.product_price span:first-child {
color: var(--main-color);
font-size: 16px;
font-weight: 600;
}


// product increment/decrement

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus, .quantity__plus {
	display: block;
	width: 30px;
	height: 40px;
	margin: 0;
	background: #dee0ee;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: var(--main-color);
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 2px solid #dee0ee;
	border-bottom: 2px solid #dee0ee;
	border-left: 1px solid #dee0ee;
	border-right: 2px solid #dee0ee;
	background: #fff;
	color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}
.product_footer .btn{
    transition:var(--transition);
}
.product_footer .btn:hover {
  background: transparent;
  border: 1px solid var(--main-color);
}

//benifit

